force-app/main/default/flows/HOT_Set_Chat_Theme_Group_Name_On_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Theme_Group</name>
        <label>Assign Theme Group</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HOT_Theme_Group_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theme_Group.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Theme_Group_Name</name>
        <label>Reset Theme Group Name</label>
        <locationX>1018</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.HOT_Theme_Group_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Theme_Group</name>
        <label>Update Theme Group Name</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.HOT_Theme_Group_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NKS_Theme_Group__r.Name</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>is_Servicetjenesten_Chat</name>
        <label>is Servicetjenesten Chat</label>
        <locationX>534</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Reset_Theme_Group_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Queue_And_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NKS_Theme_Group__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NKS_Theme_Group__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hjelpemidler</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LiveChatButton.QueueId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LiveChatButton.Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOT_Chat_Hjelpemidler</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Theme_Group</targetReference>
            </connector>
            <label>Queue And Group</label>
        </rules>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NKS_Theme_Group__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NKS_Theme_Group__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hjelpemidler</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LiveChatButton.QueueId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Theme_Group</targetReference>
            </connector>
            <label>Group</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatButton.QueueId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LiveChatButton.Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOT_Chat_Hjelpemidler</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NKS_Theme_Group__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Theme_Group</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Theme_Found</name>
        <label>Theme Found</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Theme_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Theme_Group</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_Set_Chat_Theme_Group_Name_On_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_Set_Chat_Theme_Group_Name_On_Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Theme_Group</name>
        <label>Theme Group</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Theme_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temagrupper</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HJLPM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Servicetjenesten_Chat</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LiveChatButtonId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NKS_Theme_Group__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
