force-app/main/default/flows/HOT_Case_Change_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <description>Creates a duplicate case with a new account relation.
        Copied from &quot;NKS_Case_Change_Account&quot;

* New version to handle Innringer field</description>
    <environments>Default</environments>
    <interviewLabel>HOT Case Change Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Case Change Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Redirect_To_New_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Relation.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HOT_Innringer__c</field>
            <value>
                <elementReference>Get_Case.HOT_Innringer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Puzzel_Queue_Name__c</field>
            <value>
                <elementReference>Get_Case.NKS_Puzzel_Queue_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Subtheme__c</field>
            <value>
                <elementReference>Get_Case.NKS_Subtheme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Theme_Group__c</field>
            <value>
                <elementReference>Get_Case.NKS_Theme_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Theme__c</field>
            <value>
                <elementReference>Get_Case.NKS_Theme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Get_Case.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Case.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Get_Case.SuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the case record where this flow was called from.</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Search_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen where user has to pick the correct account for the new case</description>
        <name>Account_Search_Screen</name>
        <label>Account Search Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <fields>
            <name>Select_Account_Header</name>
            <extensionName>c:hot_header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>center</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headertag</name>
                <value>
                    <stringValue>h3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>input</name>
                <value>
                    <stringValue>Velg bruker</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Account_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color:rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Velg hvilken bruker henvendelsen skal knyttes til&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Relation</name>
            <extensionName>c:hot_singleRecordInputField</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>label-hidden</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Bytt bruker</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Redirect_To_New_Case</name>
        <label>Redirect To New Case</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <flowName>HOT_RedirectFlow</flowName>
        <inputAssignments>
            <name>AsSubtab</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CloseCurrent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_New_Case</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>ID of the case record triggering this flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
