force-app/main/default/flows/HOT_Send_SMS_From_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>errorAssignment</name>
        <label>errorAssignment</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createSMS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_flow_success</name>
        <label>Set flow success variable</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>flowSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setSMSValue</name>
        <label>setSMSValue</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>sms.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.HOT_Innringer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sms.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ST Manually Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSMS</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>noQuickText</name>
        <choiceText>Ingen hurtigtekst</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>quickTextChoice1</name>
        <choiceText>{!quickText1}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>quickText1</elementReference>
        </value>
    </choices>
    <decisions>
        <name>anything_missing</name>
        <label>anything missing?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>typeMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ready to send SMS</defaultConnectorLabel>
        <rules>
            <name>Missing_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.HOT_Innringer__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recipientIsNull</targetReference>
            </connector>
            <label>Missing Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>foundCase</name>
        <label>foundCase?</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>anything_missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noCaseErrorScreen</targetReference>
            </connector>
            <label>No Case Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_Send_SMS_From_Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_SendSMSFromCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createSMS</name>
        <label>createSMS</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>set_flow_success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorAssignment</targetReference>
        </faultConnector>
        <inputReference>sms</inputReference>
    </recordCreates>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;Det oppsto en feil under opprettelse og sending av SMS.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Felmelding: {!error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>noCaseErrorScreen</name>
        <label>noCaseErrorScreen</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noCaseError</name>
            <fieldText>&lt;p&gt;Det oppstod en feil relatert til henvendelsen!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>recipientIsNull</name>
        <label>recipientIsNull</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorMsng</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Kunne ikke finne innringer nummer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>typeMessage</name>
        <label>typeMessage</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Forrige</backButtonLabel>
        <connector>
            <targetReference>setSMSValue</targetReference>
        </connector>
        <fields>
            <name>DisplayCallerInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Innringer nummer: &lt;/strong&gt;{!recordId.HOT_Innringer__c}&lt;/p&gt;&lt;p&gt;SMS vil bli sendt til dette nummeret.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message</name>
            <defaultValue>
                <stringValue>
{!endMessageText}</stringValue>
            </defaultValue>
            <fieldText>Melding</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send SMS</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>foundCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>endMessageText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Du kan ikke svare på denne meldingen.
Mvh Nav Hjelpemidler og tilrettelegging</text>
    </textTemplates>
    <textTemplates>
        <name>quickText1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TEKST 1</text>
    </textTemplates>
    <variables>
        <name>choosenQuickTextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sms</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SMS__c</objectType>
    </variables>
</Flow>
