force-app/main/default/flows/HOT_Conversation_Note_Send_Nav_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_henvendelse_ID</name>
        <label>Add henvendelse ID</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Conversation_Notes.CRM_API_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nav_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the appropriate values from the input screen to the NAV task.</description>
        <name>Nav_Task_Assignment</name>
        <label>Nav Task Assignment</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Unit_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_Group_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Themeformula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtheme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prioritet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtype_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Nav_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_henvendelse_ID</name>
        <label>Remove henvendelse ID</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Nav_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publish_Notification_To_True</name>
        <label>Set Publish Notification To True</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Publish_Notification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Create_Task_on_Henvendelse_or_Person</name>
        <label>Create Task on Henvendelse or Person</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Add_henvendelse_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Henvendelse Task</defaultConnectorLabel>
        <rules>
            <name>Create_person_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Theme_SF_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_henvendelse_ID</targetReference>
            </connector>
            <label>Create person Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Callout</name>
        <label>Validate Callout</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>API Post Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Nav_Task.SUCCESSFUL_POST</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Notification_To_True</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Priority__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>HOT Conversation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Conversation Note Send Nav Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get</name>
        <label>Get Communal Service Theme</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_on_Henvendelse_or_Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KOM</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_records</name>
        <label>Get Account records</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nav_task_input_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Conversation_Notes.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Conversation_Notes</name>
        <label>Get Conversation Note records</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Something went wrong when posting/updating the NAV task.</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(231, 21, 21);&quot;&gt;Feil ved opprettelse av oppgave&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, system-ui, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Oppgaveopprettelse feilet. En utvikler har fått beskjed og vil feilsøke dette. Bruk Modia for å opprette oppgaven for denne brukeren.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nav_task_input_screen</name>
        <label>Nav task input screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get</targetReference>
        </connector>
        <fields>
            <name>Theme_Categorization_1</name>
            <extensionName>c:crmThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paddingBottom</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>HIDE_THEME_GROUP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalTheme</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeGroup</name>
                <value>
                    <elementReference>Get_Conversation_Notes.CRM_Theme__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeSet</name>
                <value>
                    <stringValue>ALL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Get_Conversation_Notes.CRM_Theme__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>taskType</name>
            <extensionName>c:crmTaskTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showcomponent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Prioritet</name>
            <choiceReferences>Priority_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prioritet</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Oppgave til NAV-enhet</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>workAllocation</name>
            <extensionName>c:crmNavTaskWorkAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideDelegateToSelf</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableConditionalRendering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>personId</name>
                <value>
                    <elementReference>Get_Account_records.CRM_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Opprett Oppgave</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversation_Notes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_App_Log</name>
        <label>Create App Log</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>HOT_STO_Case _Send_NAV_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error occurred in flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>NavTask__c</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Nav_Task</name>
        <label>Send Nav Task</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>Created_By_Unit_Number</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>NAVTask</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>NAVTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>Publish_Notification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Subtheme_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Subtype_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_Group_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Unit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
