force-app/main/default/flows/HOT_Set_Chat_Theme_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Defines the chat theme group based on the original queue.</description>
        <name>Assign_Theme_Group</name>
        <label>Assign Theme Group</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Theme_Group.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Validate the queried common code</description>
        <name>Common_Code_Check</name>
        <label>Common Code Check</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Common_Code_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Theme_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Theme_Group</targetReference>
            </connector>
            <label>Common Code Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Servicetjenesten_Chat</name>
        <label>Is Servicetjenesten Chat</label>
        <locationX>336</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LiveChatButton.Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HOT_Chat_Hjelpemidler</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Theme_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT_Set_Chat_Theme_Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT_Set_Chat_Theme_Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the active theme groups available</description>
        <name>Get_Theme_Group</name>
        <label>Get Theme Group</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Common_Code_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temagrupper</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HJLPM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CRM_Code__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Servicetjenesten_Chat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NKS_Theme_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
