force-app/main/default/flows/HOT_Conversation_Note_Set_to_Redaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_variable_values_for_redaction</name>
        <label>Assign variable values for redaction</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Conversation_Note_records.Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Conversation_Note_records.STO_Sensitive_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Conversation_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publish_Notification_to_True</name>
        <label>Set Publish Notification to True</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Publish_Notification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Ikke_statlig_dialog</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Ikke statlig dialog&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ikke statlig dialog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sendt_feil_bruker</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Sendt feil bruker&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sendt feil bruker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sensitive_personopplysninger</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Sensitive personopplysninger&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sensitive personopplysninger</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_Conversation_Note_Is_Set_To_Redaction</name>
        <label>Check If Conversation Note Is Set To Redaction</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No-Not Set</defaultConnectorLabel>
        <rules>
            <name>Yes_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conversation_Note_records.STO_Sensitive_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Conversation_Note_records.Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reason</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Notification_to_True</targetReference>
            </connector>
            <label>Yes-Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_sensitive_information_is_True</name>
        <label>Check if sensitive information is True</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Conversation_Note_to_Redaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Conversation_Note_records.STO_Sensitive_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redaction_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HOT Conversation Note Set to Redaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Conversation Note Set to Redaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Conversation_Note_records</name>
        <label>Get Conversation Note records</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_sensitive_information_is_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Conversation_Note</name>
        <label>Update Conversation Note</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Check_If_Conversation_Note_Is_Set_To_Redaction</targetReference>
        </connector>
        <inputReference>Get_Conversation_Note_records</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Klarte ikke å sette samtalereferatet til sladding&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redaction_Screen</name>
        <label>Redaction Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Samtalereferatet er allerede satt til sladding&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Conversation_Note_to_Redaction</name>
        <label>Set Conversation Note to Redaction</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_variable_values_for_redaction</targetReference>
        </connector>
        <fields>
            <name>Reason</name>
            <choiceReferences>Ikke_statlig_dialog</choiceReferences>
            <choiceReferences>Sendt_feil_bruker</choiceReferences>
            <choiceReferences>Sensitive_personopplysninger</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Sendt feil bruker</stringValue>
            </defaultValue>
            <fieldText>Årsak</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Ferdig</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conversation_Note_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Publish_Notification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
