force-app/main/default/flows/HOT_STO_Case_Send_NAV_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_henvendelse_ID</name>
        <label>Add henvendelse ID</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_NAV_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the appropriate values from the input screen to the NAV task</description>
        <name>Case_NAV_Task_Assignment</name>
        <label>Case NAV Task Assignment</label>
        <locationX>204</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oppgave_til_NAV_enhet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_Groupe_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtheme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prioritet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Unit_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Type_Selector_1.selectedTaskTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Assigned_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Theme_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtype_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_henvendelse_ID</name>
        <label>Remove henvendelse ID</label>
        <locationX>72</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Case__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Case_NAV_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publish_Notification_To_True</name>
        <label>Set Publish Notification To True</label>
        <locationX>72</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Publish_Notification</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns the appropriate values from the input screen to the NAV task.</description>
        <name>Thread_NAV_Task_Assignment</name>
        <label>Thread NAV Task Assignment</label>
        <locationX>864</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oppgave_til_NAV_enhet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_Groupe_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Theme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Subtheme_SF_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Unit_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Assigned_Resource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_API_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAVTask.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Type_Selector_1.selectedTaskTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if record is a case</description>
        <name>Check_record_Id</name>
        <label>Check record Id</label>
        <locationX>457</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Thread</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Is Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Task_on_Henvendelse_or_Person</name>
        <label>Create Task on Henvendelse or Person</label>
        <locationX>204</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Add_henvendelse_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Henvendelse Task</defaultConnectorLabel>
        <rules>
            <name>Create_person_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Theme_SF_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Communal_Service_Theme.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_henvendelse_ID</targetReference>
            </connector>
            <label>Create person Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_account</name>
        <label>Validate account</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Case_NAV_Task_Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Error_Screen</targetReference>
            </connector>
            <label>No account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Task_Post</name>
        <label>Verify Task Post</label>
        <locationX>204</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Post_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Post failed</defaultConnectorLabel>
        <rules>
            <name>Post_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_NAV_Task.SUCCESSFUL_POST</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Publish_Notification_To_True</targetReference>
            </connector>
            <label>Post Success</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Priority_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CRM_Priority__c</picklistField>
        <picklistObject>NavTask__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Task_Theme_Code</name>
        <dataType>String</dataType>
        <expression>{!NAVTask.NKS_Theme__r.CRM_Code__c}</expression>
    </formulas>
    <interviewLabel>HOT STO Case Send NAV Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT STO Case Send NAV Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_App_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Communal_Service_Theme</name>
        <label>Get Communal Service Theme</label>
        <locationX>204</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_on_Henvendelse_or_Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KOM</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>864</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thread_NAV_Task_Input_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Case_NAV_Task_Input_Screen</name>
        <label>Case NAV Task Input Screen</label>
        <locationX>204</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Communal_Service_Theme</targetReference>
        </connector>
        <fields>
            <name>Theme_Categorization_1</name>
            <extensionName>c:crmThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoFocus</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>twoColumns</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtheme</name>
                <value>
                    <elementReference>NAVTask.NKS_Subtheme__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>HIDE_THEME_GROUP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalThemeGroup</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subtype</name>
                <value>
                    <elementReference>NAVTask.CRM_Subtype__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeGroup</name>
                <value>
                    <elementReference>NAVTask.NKS_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeSet</name>
                <value>
                    <stringValue>ALL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>NAVTask.NKS_Theme__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Type_Selector_1</name>
            <extensionName>c:crmTaskTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showcomponent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Task_Theme_Code</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Prioritet</name>
            <choiceReferences>Priority_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prioritet</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Oppgave_til_NAV_enhet</name>
            <fieldText>Oppgave til NAV-enhet</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Allocation_1</name>
            <extensionName>c:crmNavTaskWorkAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disableConditionalRendering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>personId</name>
                <value>
                    <elementReference>Get_Case.Account.CRM_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Task_Theme_Code</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Opprett oppgave</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_Error_Screen</name>
        <label>Post Error Screen</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Header</name>
            <fieldText>&lt;p&gt;Feil ved opprettelse av oppgave&lt;span style=&quot;font-size: 22px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>no_account_error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Henvendelsen er ikke relatert til en bruker.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Post_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, system-ui, &amp;quot;Segoe&lt;br /&gt;                UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid&lt;br /&gt;                Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Oppgaveopprettelse feilet. En utvikler har fått beskjed og vil feilsøke dette. Bruk Modia for å opprette oppgaven for denne brukeren.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Post_Success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thread_NAV_Task_Input_Screen</name>
        <label>Thread NAV Task Input Screen</label>
        <locationX>864</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Thread_NAV_Task_Assignment</targetReference>
        </connector>
        <fields>
            <name>Theme_Categorization</name>
            <extensionName>c:crmThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>autoFocus</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>HIDE_THEME_GROUP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeGroup</name>
                <value>
                    <elementReference>Get_Thread.CRM_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeSet</name>
                <value>
                    <stringValue>ALL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Get_Thread.CRM_Theme__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Type_Selector</name>
            <extensionName>c:crmTaskTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showcomponent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Get_Thread.CRM_Theme_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Priority</name>
            <choiceReferences>Priority_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>LAV</stringValue>
            </defaultValue>
            <fieldText>Prioritet</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Oppgave til NAV-enhet</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Opprett oppgave</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>331</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_record_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_App_Log</name>
        <label>Create App Log</label>
        <locationX>600</locationX>
        <locationY>350</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>HOT_STO_Case _Send_NAV_Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error occurred in flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>204</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Verify_Task_Post</targetReference>
        </connector>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>Created_By_Unit_Number</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>NAVTask</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The NAV task record to perform the action on.</description>
        <name>NAVTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>Publish_Notification</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Assigned_Resource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Subtheme_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Subtype_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_Groupe_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Theme_SF_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_Unit_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
