force-app/main/default/flows/HOT_KnowledgeFeedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_feedback</name>
        <label>Assign feedback</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CaseFeedback.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Feedback</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseFeedback.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FeedbackRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseFeedback.KnowledgeArticle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseFeedback.HOT_KowledgeArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>where</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_feedback</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Annet</name>
        <choiceText>Annet</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Oversettelser</name>
        <choiceText>Oversettelser</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Tilbrukeren</name>
        <choiceText>Til brukeren</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Tilsamarbeidspartner</name>
        <choiceText>Til samarbeidspartner</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>Area</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>HOT_KowledgeArea__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SOQLFilter</name>
        <dataType>String</dataType>
        <expression>&quot;KnowledgeArticle__c =&apos;&quot; +{!recordId} + &quot;&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Give Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Knowledge Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_feedback</name>
        <label>Create feedback</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>finish_modal</targetReference>
        </connector>
        <inputReference>CaseFeedback</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Feedback_RecordTypeId</name>
        <label>Get Feedback RecordTypeId</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FeedbackScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HOT_Feedback</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>FeedbackRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>FeedbackScreen</name>
        <label>FeedbackScreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_feedback</targetReference>
        </connector>
        <fields>
            <name>where</name>
            <choiceReferences>Area</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Område tilbakemeldingen gjelder:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Feedback</name>
            <fieldText>Tilbakemelding</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Her kan du skrive inn din tilbakemelding til denne
                kunnskapsartikkelen. &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finish_modal</name>
        <label>finish_modal</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_toast</name>
            <extensionName>c:fcFlowCloseWithToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>closeModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Jippi!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Tilbakemeldingen ble opprettet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Feedback_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseFeedback</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FeedbackRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>