force-app/hot_HomePage/flows/HOT_Create_Announcement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_screen_variables_for_insert</name>
        <label>Assign screen variables for insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>new_announcement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_news</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_announcement.NKS_News_Author__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Author.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_announcement.NKS_News_Other_Authors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Authors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_announcement.NKS_News_Publish_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_publication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_announcement.NKS_News_Update_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_announcement.NKS_News_Delete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_deletion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_announcement.NKS_News_Pin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_announcement.NKS_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Information_screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Announcement</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_Info</name>
        <choiceText>HOT Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HOT Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_News</name>
        <choiceText>HOT News</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HOT News</stringValue>
        </value>
    </choices>
    <description>New feature on the home page as a button to create announcements</description>
    <environments>Default</environments>
    <interviewLabel>HOT Create Announcement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HOT Create Announcement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Announcement</name>
        <label>Create Announcement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>new_announcement</inputReference>
    </recordCreates>
    <screens>
        <name>HOT_Announcements</name>
        <label>HOT Announcements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_screen_variables_for_insert</targetReference>
        </connector>
        <fields>
            <name>Title_news</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Author</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Author</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Recordtype_picker</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_News</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other_Authors</name>
            <dataType>String</dataType>
            <fieldText>Other Authors</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Recordtype_picker</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_News</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_of_publication</name>
            <dataType>DateTime</dataType>
            <fieldText>Date of publication</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Recordtype_picker</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_News</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Updated_date</name>
            <dataType>DateTime</dataType>
            <fieldText>Updated date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Recordtype_picker</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_News</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_of_deletion</name>
            <dataType>Date</dataType>
            <fieldText>Date of deletion</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Recordtype_picker</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_News</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pin</name>
            <dataType>Boolean</dataType>
            <fieldText>Pin</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Recordtype_picker</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ch_News</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Information_screen</name>
            <fieldText>Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_recordtype</name>
        <label>Pick recordtype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HOT_Announcements</targetReference>
        </connector>
        <fields>
            <name>Recordtype_picker</name>
            <choiceReferences>ch_Info</choiceReferences>
            <choiceReferences>ch_News</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recordtype picker</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pick_recordtype</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>new_announcement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NKS_Announcement__c</objectType>
    </variables>
</Flow>
